# Credentials
credentials.json
.env

# Environments
venv/
__pycache__/
*.pyc

# System files
.DS_Store

# UI dependencies
ui/node_modules/
ui/dist/

/Users/arindamkulshi/ai_poc_ui/ai_poc_project/output_unstructured
output_unstructured/part_001/docs/
